{% extends "base.html" %}

{% block content %}
    <div class="container">
        <form action="uploader" method="POST"
              enctype="multipart/form-data">
            <input type="file" name="file"/>
            <input type="submit"/>
        </form>
    </div>
{% endblock %}